<header class="site-header">

  <div style="padding: 0 1em;">

    <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/asset_site/damaera.png" alt=""></a>

    <nav class="site-nav">
      <div class="trigger">
          <a data-scroll class="page-link" href="/#">Home</a>
          <a data-scroll class="page-link" href="/#about">About</a>
          <a data-scroll class="page-link" href="/#portfolio">Portfolio</a>
          <a data-scroll class="page-link" href="/#contact">Contact</a>
          <a class="page-link" href="/blog/">Blog</a>
      </div>
    </nav>

  </div>
</header>
<header class="site-header shadow">

  <div style="padding: 0 1em;">

    <a class="site-title" href="/#"><img src="{{ site.baseurl }}/asset_site/damaera.png" alt=""></a>

    <nav class="site-nav">
      <div class="trigger">
          <a data-scroll class="page-link" href="/#">Home</a>
          <a data-scroll class="page-link" href="/#about">About</a>
          <a data-scroll class="page-link" href="/#portfolio">Portfolio</a>
          <a data-scroll class="page-link" href="/#contact">Contact</a>
          <a class="page-link" href="/blog/">Blog</a>
      </div>
    </nav>

  </div>
</header>
